<h1><%= @results.total %> total stores</h1>

<% @results.stores.each do |store| %>
  <div class='store'>
    <h4><%= store.long_name %></h4>
    <ul>
      <li><%= store.city %></li>
      <li><%= store.distance %></li>
      <li><%= store.phone %></li>
      <li><%= store.type %></li>
    </ul>
  </div>
<% end %>

